<div class="card-body">
    <%= form_for @changeset, @action, [class: "ui form"], fn f -> %>
    <%= if @changeset.action do %>
        <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
    <% end %>

<!-- Display name -->
   <div class="field">
    <%= label f, :display_name, class: "control-label" %>
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= text_input f, :display_name, class: "form-control", autofocus: "true", placeholder: "Display name" %>
    </div>
    <%= error_tag f, :display_name %>
  </div>

<!-- Email -->
   <div class="field">
    <%= label f, :email, class: "control-label" %>
    <div class="ui left icon input">
      <i class="mail icon"></i>
      <%= email_input f, :email, class: "form-control", placeholder: "Email address" %>
    </div>
    <%= error_tag f, :email %>
  </div>

<!-- Avatar -->
    <div class="field">
        <%= label f, :avatar, class: "control-label" %>
    <div class="ui left icon input">
      <i class="image icon"></i>
      <%= text_input f, :avatar, class: "form-control", placeholder: "Enter image URL" %>
    </div>
    <%= error_tag f, :avatar %>
    </div>

<!-- Password -->
   <div class="field">
    <%= label f, :password, class: "control-label" %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= password_input f, :password, class: "form-control", autocomplete: "false", placeholder: "Enter your password to save changes" %>
    </div>
    <%= error_tag f, :password %>
  </div>

  <br>

  <div class="form-group">
    <%= submit "Submit", class: "ui teal fluid button" %>
  </div>
    <% end %>

    <br>

</div>
