<h1>New User</h1>
<div class="ui raised very padded text container segment">
    <div class="ui header">Sign up</div>
    <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

    <span><%= link "Back", to: Routes.user_path(@conn, :index), class: "ui secondary basic button" %></span>

</div>
