<h1>Show User</h1>

<ul>

  <li>
    <strong>Display name:</strong>
    <%= @user.display_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Avatar:</strong>
  </li>
  <%= if @user.avatar do %>
  <%= img_tag(@user.avatar, class: "ui small image") %>
  <% else %>
  <%= gravatar(@user.email) %>
  <% end %>





</ul>

<br>


<div class="ui buttons">
 <%= link "Edit", to: Routes.user_path(@conn, :edit, @user), class: "ui button" %>
  <div class="or"></div>
  <%= link "Back", to: Routes.user_path(@conn, :index), class: "ui positive button" %>
</div>


