  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logo" src="/images/lynx.png">
        <span class="app-name"> Lynx </span>
      </a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
        <div class="right menu">
        <%= if Lynx.Accounts.get_current_user(@conn) do %>
            <!-- User Profile -->
            <div class="item">
                <%= link raw(~s'<i class="user circle icon"></i>Profile'), to: Routes.user_path(@conn, :show, Guardian.Plug.current_resource(@conn).id), class: "ui compact button" %>
            </div>
            <!-- Log out -->
            <div class="item">
                <%= link raw(~s'<i class="sign out alternate icon"></i>Logout'), to: Routes.session_path(@conn, :new), method: :delete, class: "ui compact red button" %>
            </div>

        <% else %>
            <div class="item">
                <%= link raw(~s'<i class="sign in alternate icon"></i>Login'), to: Routes.session_path(@conn, :new), class: "ui compact primary button"%>
            </div>
            <div class="item">
                <%= link raw(~s'<i class="user icon"></i>Sign up'), to: Routes.user_path(@conn, :new), class: "ui compact teal button" %>
            </div>
            <!-----
                <div class="item">
                <%= link raw(~s'<i class="sign in alternate icon"></i>Auth0 Sign-in'), to: "/auth/auth0", class: "tiny ui compact purple button"%>
                </div>
            ---->
        <% end %>
        </div>
    </div>
  </div>
