<section class="phx-hero">
    <h1 class="ui block header center">
    <%= gettext "Welcome to %{name}!", name: "Phoenix" %>

    <div class="sub header">A productive web framework that<br/>does not compromise speed or maintainability.</div>
    </h1>
</section>

<div class="ui segments">
<%= if Lynx.Accounts.get_current_user(@conn) do %>
  <div class="ui segment">
<h2 class="ui header">
  <i class="circular users icon"></i>
  <div class="content">Active Users
    <div class="sub header"></div>
  </div>
</h2>
    <div id="activeUsers"></div>
  </div>

  <div class="ui secondary segment">
  <div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <div class="content">
     <div id="messages"></div>
      <div class="metadata">
        <span class="date">
           <%= get_time().month %>/<%= get_time().day %>/<%= get_time().year %>
        </span>
      </div>
      <div class="text">
        <input id="chat-input" type="text" placeholder="Type and press enter...">
      </div>
    </div>
  </div>


</div>
  </div>
  <% else %>
<div class="ui segment">
    <p>Log in for live feed</p>
</div>

  <div class="ui secondary segment">
    <p>Secondary Content</p>
  </div>
<% end %>
</div>

<!--- test out new comments -->
<%= if @user do %>
<h5>Current user</h5>
<div class="ui comments">
  <div class="comment">
    <a class="avatar">
        <%= img_tag(@user.avatar) %>
    </a>
    <div class="content">

      <%= link @user.display_name, to: Routes.user_path(@conn, :show, @user.id), class: "author" %>
      <div class="metadata">
        <div class="date"> Member since: <%= DateTime.to_date(@user.inserted_at) %></div>
      </div>
      <div id="textField"></div>
    </div>
  </div>
</div>
<% end %>


