body {
    background-color: #ffffff;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
/* General style */
h1 {
    font-size: 3.6rem;
    line-height: 1.25;
}
h2 {
    font-size: 2.8rem;
    line-height: 1.3;
}
h3 {
    font-size: 2.2rem;
    letter-spacing: -0.08rem;
    line-height: 1.35;
}
h4 {
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
}
h5 {
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.4;
}
h6 {
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.2;
}

select {
    width: auto;
}

/* Alerts and form errors */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert p {
    margin-bottom: 0;
}
.alert:empty {
    display: none;
}
.help-block {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

.headline,
.center {
    text-align: center;
}

section.phx-hero {
    margin-top: 3em;
    margin-bottom: 3em;
}
h1.ui.block.header.center {
    padding: 2em 2em;
}

p.alert.alert-info,
p.alert.alert-danger {
    margin-top: 2em;
    font-size: 1.1rem;
}

/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: '✔';
}

/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: '✖';
}

h1.ui.block.header.center {
    font-size: 38px;
    color: var(--primary-color);
}

div.sub.header {
    color: var(--secondary-color) !important;
}
