:root {
    --primary-color: #4582ec;
    --secondary-color: #20c997;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #f0ad4e;
    --green: #02b875;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray-500: #adb5bd;
}

/* success:       green ;
info:          cyan ;
warning:       yellow ;
danger:        red ;
light:         gray-100 ;
dark:          gray-800; */
